<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col text-center">
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col text-center">
      <h2>CRUD</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
      <label for="txtId" class="form-label">ID  </label>
      <input type="text" id="txtId" class="form-control"  [(ngModel)]="persona.id">
    </div>
    <div class="col-md-4">
      <label for="txtUserId" class="form-label">UserId</label>
      <input type="text" id="txtUserId" class="form-control"  [(ngModel)]="persona.userId">
    </div>
    <div class="col-md-2">
      <label for="txtTitle" class="form-label">Title</label>
      <input type="text" id="txtEdad" class="form-control" [(ngModel)]="persona.title">
    </div>
    <div class="col-md-3">
      <label for="txtDesc" class="form-label">Body</label>
      <input type="text" id="txtDesc" class="form-control"[(ngModel)]="persona.body">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
     <button class="btn btn-success me-2" type="button" (click)="onagregar(persona)">Agregar</button>
      <button class="btn btn-warning me-2" type="button" (click)="onUpdate(persona)">Modificar</button>
      <button class="btn btn-danger me-2" type="button" (click)="onDelete(persona.id)">Eliminar</button> 
      <!--<button class="btn btn-primary me-2" type="button" (click)="clear()">Limpiar</button>-->

    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <table id="dt" class="table table-striped" style="width: 100%;">
        <thead class="table-dark">
          <tr>
            <th scope="col">Seleccionar</th>
            <th scope="col">ID</th>
            <th scope="col">Userid</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let item of datatable">
             <td><input type="button" value="Seleccionar" (click)="onsetData(item)"></td>
           <td>{{ item.id }}</td>
            <td>{{ item.userId }}</td>
            <td>{{ item.title }}</td>
            <td>{{item.body }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
